@model IEnumerable<Periodicals.DAL.Entities.UserPublication>
@using Periodicals.DAL.Entities;
@{
    ViewBag.Title = "IndexByName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подписки</h2>


@using (Ajax.BeginForm("UserPublicationsSearch", new AjaxOptions
{
    UpdateTargetId = "results1"

}))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Название публикации</label>
            <div class="col-md-10">
                @Html.DropDownList("name",
new SelectList(ViewBag.AllPublications as IEnumerable<Publication>, "PublicationId", "NameOfPublication"), null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Месяц</label>
            <div class="col-md-10">
                @Html.DropDownList("month", new SelectList(
                  new List<Object>{
                       new { value = "1" , text = "Январь"  },
                       new { value = "2" , text = "Февраль" },
                       new { value = "3" , text = "Март" },
                       new { value = "4" , text = "Апрель"},
                       new { value = "5" , text = "Май" },
                       new { value = "6" , text = "Июнь"},
                       new { value = "7" , text = "Июль"},
                       new { value = "8" , text = "Август" },
                       new { value = "9" , text = "Cентябрь"},
                       new { value = "10" , text = "Октябрь"},
                       new { value = "11" , text = "Ноябрь" },
                       new { value = "12" , text = "Декабрь" },
                    },
                  "value",
                  "text",
                   "1"), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Год</label>
            <div class="col-md-10">
                @Html.DropDownList("year", new SelectList(
            new List<Object>{
                new { value = "2010" , text = "2010"  },
                new { value = "2011" , text = "2011" },
                new { value = "2012" , text = "2012" },
                new { value = "2013" , text = "2013"},
                new { value = "2014" , text = "2014" },
                new { value = "2015" , text = "2015"},
                new { value = "2016" , text = "2016"},
                new { value = "2017", text = "2017"},
            },
            "value",
            "text",
            "2010"), htmlAttributes: new { @class = "form-control" })


            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Поиск" />
</div>
        }

        <div id="results1">
            <table class="table">
                <tr>
                    <th>
                        Название издания
                    </th>
                    <th>
                        Телефон
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Индекс
                    </th>
                    <th>
                        Город
                    </th>
                    <th>
                        Дата начала
                    </th>
                    <th>
                        Дата конца
                    </th>

                    <th>
                        Цена подписки, грн. / мес.
                    </th>
                    <th>
                        Стоимость
                    </th>
                    <th>
                        Статус
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {

                    var cost = item.Publication.PricePerMonth * item.Period;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publication.NameOfPublication)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.MobilePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Index)
                        </td>
                        <td>
                            @item.StartDate.ToString("dd.MM.yyyy")
                        </td>

                        <td>
                            @item.EndDate.ToString("dd.MM.yyyy")
                        </td>
                    
                        <td>
                            @Html.DisplayFor(modelItem => item.Publication.PricePerMonth)
                        </td>
                        <td>
                            @cost
                        </td>
                        <td>
                            Оплачено
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                               
                                <span>@Html.ActionLink("Удалить", "Delete1", new { id = item.UserPublicationId }, htmlAttributes: new { @class = "btn btn-default" })</span>

                            </td>
                        }

                    </tr>
                }
            </table>
            <h3>Всего : @ViewBag.SumPayed грн.</h3>

        </div>

        @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
